<div id="quizCreateModal" class="modal fade" role="dialog" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
      	<button type="button" class="close red-text" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Create Quiz</h4>
      </div>
      <div class="modal-body" id="quizCreateModalBody">
        <div class="row">
			<div class="col-lg-1 col-md-1 col-sm-10"></div>
			<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9" ng-init="adv_sett_switch=false">
				<form role="form" name="quizCreateForm" ng-submit="postQuiz()" novalidate>
				  <div class="form-group" ng-class="{'has-error': errors.title || quizCreateForm.title.$touched && quizCreateForm.title.$error.required  }">
				    <label for="title">Title <span class="red-text">*</span></label>
				    <input type="text" maxlength="60" class="form-control" id="title" name="title" ng-model="createQuizForm.title" required>
				    <br/>
				    <span ng-if="errors.title" class="help-block">{{ errors.title[0] }}</span>
				    <span ng-if="quizCreateForm.title.$touched && quizCreateForm.title.$error.required" class="help-block">Quiz title is required.</span>
				  </div>		
				  	 
				  <div class="row">
					<div class="col-lg-6 col-md-6 col-sm-6">
					<label for="no_of_attempt">No. of Attempts</label>
					  <div class="checkbox">
					    <select class="form-control" id="no_of_attempt" name="no_of_attempt" ng-model="createQuizForm.no_of_attempt">
					      	<option value="1">1</option>
					      	<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
					      	<option value="5">5</option>
				      </select>
					  </div>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-6">
					  <div class="form-group" ng-class="{'has-error': quizCreateForm.passing_percent.$touched && quizCreateForm.passing_percent.$error.required }">
					    <label for="passing_percent">Passing percentage <span class="red-text">*</span></label><br>
					    <input type="number" name="passing_percent" max='90' min='10' id="passing_percent" class="form-control" ng-model="createQuizForm.passing_percent" required>
					    
					    <span ng-if="errors.passing_percent" class="help-block">{{ errors.passing_percent[0] }}</span>
					    <span ng-if="quizCreateForm.passing_percent.$touched && quizCreateForm.passing_percent.$error.required" class="help-block">Passing marks is required.</span>
					  </div>
					</div>
				  </div>

				  <div class="row">
					<div class="col-lg-6 col-md-6 col-sm-6">
					  <div class="form-group">
					  	<label for="success_text">Message if user passes</label>
					    <textarea name="success_text" id="success_text" rows="2" class="form-control" ng-model="createQuizForm.success_text"></textarea>
					  </div>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-6">
					  <div class="form-group">
					  	<label for="fail_text">Message if user fails</label>
					    <textarea name="fail_text" id="fail_text" rows="2" class="form-control" ng-model="createQuizForm.fail_text"></textarea>
					  </div>
					</div>
				  </div>
				  
				  <div class="row">
					<div class="col-lg-8 col-md-8 col-sm-8">
					  <div class="form-group">
					    <a href="javascript:void(0);" id="settings_btn" ng-model="adv_sett_switch" class="btn" ng-click='adv_sett_switch = (adv_sett_switch==true?false:true)'><span class="glyphicon glyphicon-cog"></span> Advance Setting(s)</a>
					  </div>
					</div>
				  </div>

				  <div class="row" ng-if='adv_sett_switch'>
					  <div class="form-group">
					  	<label for="user_picturing">
					    	<input type="checkbox" name='user_picturing' id="user_picturing" ng-model="createQuizForm.user_picturing">&nbsp;Take Test User Picture.
					    </label>
					  </div>
					  <div class="form-group">
					  	<label for="show_result_on_completion">
					    	<input type="checkbox" name='show_result_on_completion' id="show_result_on_completion" ng-model="createQuizForm.show_result_on_completion">&nbsp;Show result on test completion
					    </label>
					  </div>
				  </div>

				  <div class="row">
				  	<div class="col-lg-12 col-md-12 col-sm-12">
				  		<button type="submit" class="btn btn-primary btn-block" ng-disabled="quizCreateForm.$invalid">Create Quiz</button>
				  	</div>
				  </div>
			</form>
		</div>
		<div class="col-lg-1 col-md-1 col-sm-1"></div>
		</div>
      </div>
      <div class="modal-footer" id="quizCreateModalFooter">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>