<div id="createCategoryModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Create Category</h4>
      </div>
        <div class="row">
          <div class="col-lg-2 col-md-2 col-sm-2"></div>
      <div class="col-lg-8 col-md-8 col-sm-8">
        <form role="form" name="categoryCreateForm" ng-submit="postCategory()" novalidate>
          <div class="form-group" ng-class="{'has-error': isFormInvalid || categoryCreateForm.category.$touched && categoryCreateForm.category.$error.required}"><br>
            <label for="category">Name of category</label>
            <input type="text" maxlength="250" class="form-control" id="category_name" name="category_name" ng-model="createCategoryform.category_name" required>
            <span ng-if="errors.category" class="help-block">{{ errors.category[0] }}</span>
            <span ng-if="categoryCreateForm.category.$touched && categoryCreateForm.category.$error.required" class="help-block">Category name is required.</span>
          </div>
          <button type="submit" class="btn btn-primary btn-md" ng-disabled="categoryCreateForm.$invalid">Create</button>
        </form><br>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2"></div>
    </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>