<div id="sub_cat_not_hv_que" class="modal fade" role="dialog" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close red-text" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Nothing present</h4>
      </div>
        <div class="row">
          <div style="text-align: center;">
            <h3><span style="color:red;">No questions are present.</span></h3>
            <br>
            <h5><span style="color:green;">You have to create some questions.</span></h5>
            <br>
            <div class="col-md-6 col-xs-12 col-sm-12 col-lg-6"  style="text-align: center;">
              <button ng-click='go("app.create-mcq-question")' 
                style="text-align: center;margin: 10px;" 
                class="btn btn-primary">Create <span style="color:yellow;">MCQ</span> Question(s)
              </button>                
            </div>
            <div class="col-md-6 col-xs-12 col-sm-12 col-lg-6" style="text-align: center;">
              <button ng-click='go("app.create-objective-question")' 
                style="text-align: center;margin: 10px;" 
                class="btn btn-primary">Create <span style="color:yellow;">Objective</span> Question(s)
              </button>                
            </div>
          </div>
        </div>
        <div class="modal-footer">
        </div>
    </div>
  </div>
</div>