<div ng-include src="'views/modals/warning_modal.html'"></div>
<div class="container" style="margin-top: -75px;" ng-show="dataPresent">
	<div class="row">
		<!-- <div class="alert alert-warning"> -->
		<br>
	   	<div class="row">
		   	<div class="col-lg-2 col-md-2 col-sm-2 text-center">
		   		<strong>Time: <span class="black-text">{{ totalDuration | secondsToDateTime | date:'HH:mm:ss' }}</span></strong>
		   	</div>
			<div class="col-lg-4 col-md-4 col-sm-6">
				<div class="col-lg-2 col-md-2 col-sm-2 text-center">
					<label for="sectionnames">Section </label>
				</div>
				<div class="col-lg-10 col-md-10 col-sm-10">
					<select class="form-control" id="sectionnames" name="sectionnames" ng-model="selectedSection" ng-change="openWarningModal('sectionChangeRequestInitiated', 0)">
						<option value="" disabled>Select a section</option>
				    	<option ng-repeat="section in sectionNames" value="{{ section }}" id="subcategory{{section}}">{{ section }}</option>
					</select>
				</div>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-4">
				<div class="row">
					<div class="col-lg-2 col-md-2">
					</div>
					<div class="col-lg-3 col-md-3 col-sm-4 text-center">
						<label for="notVisitedQuestionsCountBar">#Not Visited
							<div class="progress">
							  <div id="notVisitedQuestionsCountBar" class="progress-bar progress-bar-danger black-text" role="progressbar" style="width:{{progressValues[1].percentage}}%">
							    {{progressValues[1].count}}
							  </div>
							</div>
						</label>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-4 text-center">
						<label for="notAttemptedQuestionsCountBar">#Not Attempted
							<div class="progress">
							  <div id="notAttemptedQuestionsCountBar" class="progress-bar progress-bar-warning black-text" role="progressbar" style="width:{{progressValues[2].percentage}}%">
							    {{progressValues[2].count}}
							  </div>
							 </div>
						</label>
					</div> 
					<div class="col-lg-3 col-md-3 col-sm-4 text-center">
						<label for="attemptedQuestionsCountBar">#Attempted
							<div class="progress">
							  <div id="attemptedQuestionsCountBar" class="progress-bar progress-bar-success black-text" role="progressbar" style="width:{{progressValues[0].percentage}}%">
							    {{progressValues[0].count}}
							  </div>
							</div>
						</label>
					</div>
				</div>				
			</div>
				<div class="col-lg-2 col-md-2 col-sm-2 text-center">
				</div>
			</div>
		<div class="row">
			<nav class="navbar navbar-default" ng-if="dataPresent">
			  <div class="container-fluid">
			    <div class="navbar-header">
			      <h4 class="center bold-text">{{selectedSectionName}}</h4>
			    </div>
			    <button ng-if="!hidePreviousSectionButton" class="btn btn-info btn-md left test-button" ng-click="openWarningModal('sectionChangeRequestInitiated', -1)">Previous Section</button>
			    <button ng-if="!hideNextSectionButton" class="btn btn-info btn-md right test-button" ng-click="openWarningModal('sectionChangeRequestInitiated', 1)">Next Section</button>
			  </div>
			</nav>
		</div>
		<div class="row" style="margin-top:-10px;">
			<div class="col-lg-8 col-md-8 col-sm-8 text-center">
				<ul class="pagination pagination-sm">
				  <li ng-repeat="count in sliced_questions" ng-click="changeQuestion(count)"><a href="javascript:void(0);">{{count}}</a></li>
				</ul>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 text-center">
				<ul class="pagination pagination-sm">
				   <li ng-if="sliceFactor>0"><a href="javascript:void(0)" ng-click="decreaseSlicing()">&laquo;</a></li>
				   <li><a href="javascript:void(0)"><span>{{sliceFactor*15+1}}</span> of <span ng-if="sliceFactor<=slicingLimit-1">{{(sliceFactor+1)*15}}</span><span ng-if="sliceFactor+1>slicingLimit">{{total_questions.length}}</span></a></li>
				   <li ng-if="sliceFactor+1<=slicingLimit"><a href="javascript:void(0)" ng-click="increaseSlicing()">&raquo;</a></li>
				</ul>
				</div>
			</div>
		</div>
		<div class="row text-center" ng-if="currentQuestion.que_type === 'mcq'">
			<span class="bold-text text-center">{{instruction}}</span><br><br>
		</div>
		<div class="row">
			<div class="row left">
				Question #{{currentCount}}
			</div><hr>
			<div class="row" ng-if="!isComprehension">
				<div class="col-lg-6 col-md-6 col-sm-6">
					<!-- <span katex-bind="currentQuestion.content"></span> -->
					<span ng-bind-html="currentQuestion.content | unsafe"></span>
					<br>
					<br>
					<div class="row question-image" ng-if="currentQuestion.figure">
						<img ng-src="{{baseURL}}{{currentQuestion.figure}}" class="img-thumbnail" alt="Question Image is unavailable">
					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6">
					<div class="row" ng-if="currentOptions.length!=0" ng-repeat="option in currentOptions">
						<label>
							<input type="radio" name="{{currentQuestion.id}}" value="{{option.id}}" ng-model="answersModel[currentQuestion.id].value">
							<!-- <span katex-bind="option.content"></span> -->
							<span ng-bind-html="option.content | unsafe"></span>
						</label><br>
					</div>
					<div class="row" ng-if="currentOptions.length===0">
						<div class = "input-group">
					        <span class="input-group-addon"><b>Answer</b></span>
					        <input type="text" class="form-control" placeholder="Enter your answer here..." ng-model="answersModel[currentQuestion.id].value">
					    </div>
					</div>
				</div>
			</div><br>
			<div class="row" ng-if="isComprehension">
				<div class="row">
					<h4 class="bold-text text-center">{{currentQuestion.heading}}</h4>
				</div>
				<div class="row" style="margin: auto;">
					<span ng-bind-html="currentQuestion.content | unsafe"></span>
					<!-- <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12" ng-class="{'hscroll-large': currentQuestion.content.length > 195}"> -->
					<!-- <p style="font-size: 15px;" katex-bind="currentQuestion.content"></p>						 -->
					<!-- </div> -->
				</div>
				<div class="row" ng-if="currentQuestion.figure" style="margin: auto;">
					<img ng-src="{{baseURL}}{{currentQuestion.figure}}" class="img-thumbnail" alt="Comprehension Image is unavailable">
				</div>
				<hr>
				<div class="row" style="margin: auto;">
					<div class="row text-center">
						<span ng-hide="currentComprehensionQuestionCount===0" class="glyphicon glyphicon-circle-arrow-left comprehensionButton" ng-click="changeComprehensionQuestion(currentComprehensionQuestionCount-1)"></span>&nbsp;&nbsp;
						<span>Comprehension Question #{{currentComprehensionQuestionCount+1}}</span>&nbsp;&nbsp;
						<span ng-hide="currentComprehensionQuestionCount===comprehensionQuestionsLimit" class="glyphicon glyphicon-circle-arrow-right comprehensionButton" ng-click="changeComprehensionQuestion(currentComprehensionQuestionCount+1)"></span>
					</div><br><br>
					<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
						<!-- <span katex-bind="currentComprehensionQuestion.content"></span> -->
						<span ng-bind-html="currentComprehensionQuestion.content | unsafe"></span>
						<br><br>
						<div class="row question-image" ng-if="currentComprehensionQuestion.figure">
							<img ng-src="{{baseURL}}{{currentComprehensionQuestion.figure}}" class="img-thumbnail" alt="Comprehension Question Image is unavailable">
						</div>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
						<div class="row" ng-repeat="option in currentComprehensionQuestion.options">
							<label>
								<input type="radio" name="{{currentComprehensionQuestion.id}}" value="{{option.id}}" ng-model="comprehensionAnswersModel[currentComprehensionQuestion.id].value">
								<!-- <span katex-bind="option.content"></span> -->
								<span ng-bind-html="option.content | unsafe"></span>
							</label><br>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row text-center">
			<div>
				<button ng-disabled="currentCount===1" class="btn btn-info btn-md left" ng-click="changeQuestion(currentCount-1)">Previous</button>
				<button ng-disabled="currentCount===total_questions.length" class="btn btn-info btn-md right" ng-click="changeQuestion(currentCount+1)">Next</button>
			</div>
		</div>
	</div>
	<div class="container" ng-show="!dataPresent"><h3>No questions present.</h3></div>
</div>
