<div class="container-fluid panel panel-info" style="margin: 20px;">
<div ng-include=" 'views/alert_msg.html' "></div>
<div ng-include src="'views/modals/sub_cat_not_hv_ques.html'"></div>
<div class="row text-center panel-heading">
	<h4><b>{{quizName|capitalize}}</b></h4>
</div>
<div class="row"><br><br></div>
<div class="row panel-body"  ng-if="subCategories.length!=0">
	<div class="col-lg-1 col-md-1 col-sm-1"></div>
	<div class="col-lg-10 col-md-10 col-sm-10">
		<div class="row">
			<div class="col-lg-5 col-md-5 col-sm-5">
				<div class="input-group">
			        	<select class="form-control" name="subcategoryname" ng-model="selectedSubCategoryDropdown" 
			        		ng-change="selectSubCategory(selectedSubCategoryDropdown)">
			        		<option value="" disabled>Select sub-category here...</option>
			        		<option ng-repeat="subcategory in subCategories" value="{{ subcategory.id }}">
			        		{{subcategory.sub_category_name}}</option>
			        	</select>
		      	</div>
	      	</div>
	      	<div class="col-lg-1 col-md-1 col-sm-1">	      		
	      	</div>
	      	<div class="col-lg-3 col-md-3 col-sm-3">
	      		<div class="input-group">
	      			<span class="input-group-addon">Duration:  <span style='color:black;' ng-if="total_duration">{{total_duration | secondsToDateTime | date:'HH:mm:ss' }}</span></span>
	      		</div>
	      	</div>
	      	<div>
		      	<div class="col-lg-1 col-md-1 col-sm-1">
		      		<button ng-disabled='existingStack.length <= 0' type="button" class="btn btn-primary" ng-click="openTestWindow()">
		      			Preview
		      		</button>
		      	</div>
			</div>
	      	<div class="col-lg-2 col-md-2 col-sm-2">
	         </div>      		
	      	<div class="col-lg-2 col-md-2 col-sm-2">	      		
	      	</div>
		</div><br><br>
		<div class="row text-center" ng-if="unableToGetAllSavedStacks">
			<h3>Unable to fetch existing stacks inside this quiz.</h3>
		</div>
		<div class="row">
		  <div class="table-responsive">          
			  <table class="table">
			    <thead>
			      <tr class="quizstack-heading">
			        <th>Section</th>
			        <th>Sub-category Name</th>
			        <th>Type</th>
			        <th>Level</th>
			        <th>#Qs</th>
			        <th>Duration</th>
			        <th>IsTimed?</th>
			        <th>Correct</th>
			        <th>Incorrect</th>
			        <th>Selection</th>
			        <th></th>
			      </tr>
			    </thead>
			    <tbody id="selectedQuestionsRow"></tbody>
			    <tbody id="existingQuestionsRow"></tbody>
			  </table>
		  </div>
		</div>
	</div>
	<div class="col-lg-1 col-md-1 col-sm-1"></div>		
</div>
<br>

</div>
<div class="row panel-body" ng-if="existingStack.length == 0 ">
	<div class="row">
		<div class="alert alert-warning text-center">
		  	<h4><strong>You haven't added any questions yet. Follow the below steps -</strong></h4>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-lg-1 col-md-1 col-sm-1">
		</div>
		<div class="col-lg-3 col-md-3 col-sm-3">
			<div class="col-lg-10 col-md-10 col-sm-10 col-xs-12  panel panel-info">
				<p><h4><b>First Step</b></h4></p><br>
				<p><span class="glyphicon glyphicon-ok green-text"></span>&nbsp;&nbsp;Create a sub-category.</p>
				<hr>
				<h5 class="help-block">Navigate to <a ui-sref="app.questions">My Questions</a> section. Click on <b>Add Subcategory</b> button to create it.</h5>
			</div>
			<div class="row text-center visible-xs">
				<h2><br><br><span class="glyphicon glyphicon-arrow-down blue-text next-step-arrow-xs text-center"></span></h2><br>
			</div>
			<div class="col-lg-2 col-md-2 col-sm-2 hidden-xs">
				<h2><span class="glyphicon glyphicon-arrow-right red-text next-step-arrow"></span></h2>
			</div>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-4">
			<div class="col-lg-10 col-md-10 col-sm-10 col-xs-12  panel panel-info">
				<p><h4><b>Second Step</b></h4></p><br>
				<p><span class="glyphicon glyphicon-ok green-text"></span>&nbsp;&nbsp;Create a Question.</p>
				<hr>
				<h5 class="help-block">On the same page (<a ui-sref="app.questions">My Questions</a> section), click on <b>Create Question</b> button. Select whatever type of quetsion you want to create. While creating a question you first select a sub-category inside which you question will be saved. You can create as many questions as required.</h5>
			</div>
			<div class="row text-center visible-xs">
				<h2><br><br><span class="glyphicon glyphicon-arrow-down blue-text next-step-arrow text-center"></span></h2>
			</div>
			<div class="col-lg-2 col-md-2 col-sm-2 hidden-xs">
				<h2><span class="glyphicon glyphicon-arrow-right red-text next-step-arrow"></span></h2><br>
			</div>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-3">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  panel panel-info">
				<p><h4><b>Third Step</b></h4></p><br>
				<p><span class="glyphicon glyphicon-ok green-text"></span>&nbsp;&nbsp;Load sub-categories inside your Quiz Stack.</p>
				<hr>
				<h5 class="help-block help-text">Finally reload this page and you will be asked to select sub-category among all sub-categories you have created. Selecting a sub-category will load all questions inside it into your quiz stack. You can filter out questions according to their type (MCQ/Objetcive) or level (easy/medium/hard). Then click on the <span class="glyphicon glyphicon-ok-circle green-text"></span> to save the questions. You can also delete the previously existing questions from your quiz stack. You can also preview your question store in a local test environment.</h5>
			</div>
		</div>
		<div class="col-lg-1 col-md-1 col-sm-1">
		</div>
	</div>
</div>

</div>
