<div class="container-fluid">
<div ng-include src="'views/alert_msg.html'"></div>
<div class="row text-center"><h4><b>{{quizName|capitalize}}</b></h4></div>
<div class="row"><br><br></div>
<div class="row" ng-if="subCategories.length!=0">
	<div class="col-lg-1 col-md-1 col-sm-1"></div>
	<div class="col-lg-10 col-md-10 col-sm-10">
		<div class="row">
			<div class="col-lg-5 col-md-5 col-sm-5">
				<div class="input-group">
			        	<select class="form-control" id="subcategoryname" name="subcategoryname" ng-model="selectedSubCategoryDropdown" ng-change="selectSubCategory(selectedSubCategoryDropdown)">
			        		<option value="" disabled>Select sub-category here...</option>
			        		<option ng-repeat="subcategory in subCategories" value="{{ subcategory.id }}" id="subcategory{{ subcategory.id }}">{{ subcategory.sub_category_name }}</option>
			        	</select>
		      	</div>
	      	</div>
	      	<div class="col-lg-1 col-md-1 col-sm-1">	      		
	      	</div>
	      	<div class="col-lg-3 col-md-3 col-sm-3">
	      		<div class="input-group">
	      			<span class="input-group-addon">Duration:  <span style='color:black;' ng-if="total_duration">{{total_duration|time}} (HH:MM)</span></span>
	      		</div>
	      	</div>
	      	<div>
		      	<div class="col-lg-1 col-md-1 col-sm-1">
		      		<button type="button" class="btn btn-primary" ng-click="openTestWindow(quizKey)">
		      			Preview
		      		</button>
		      	</div>
		      	<div id="myModal" class="modal fade" role="dialog" >
				  <div class="modal-dialog" style='width: 900px;'>
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal">&times;</button>
				        <h4 class="modal-title">Test: Example</h4>
				      </div>
				      <div class="modal-body col-md-12">
				      		<div class="col-md-12" ng-repeat="data in all_que_data.data|orderBy:['section_name']">
				      			<!-- {{data}} -->
				      			<h3>{{data.section_name}}</h3>
				      			<h4>Total Questions: {{data.total_questions}}, Total Time: {{data.time_duration|time }} minutes</h4>
				      			<div ng-repeat='cont in data.question_stack'>
				      			<div class="panel panel-default panel-body">
					      			<p>Q{{$index+1}}. {{cont.content}}</p>
					      			<div ng-repeat='option in cont.options'>
						      			<div class='col-md-6'>
						      			 <input type="checkbox" class="myClass" style='margin:3%;' value="yes" id="answer" name="answer" data-color="green" />
						      			 {{option.content}}
						      			 <br>
						      			 </div>
					  				 </div>
				  				 </div>
				  				 </div>
				  				 <br>
				      		</div>
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				      </div>
				    </div>

				  </div>
				</div>
			</div>
	      	<div class="col-lg-2 col-md-2 col-sm-2">	
	      		<button class="btn btn-primary" type="button" ng-click="go()">
	                Add
	            </button>      		
	      	<div class="col-lg-2 col-md-2 col-sm-2">	      		
	      	</div>
		</div><br><br>
		<div class="row text-center" ng-if="unableToGetAllSavedStacks">
			<h3>Unable to fetch existing stacks inside this quiz.</h3>
		</div>
		<div class="row">
		  <div class="table-responsive">          
			  <table class="table">
			    <thead>
			      <tr class="quizstack-heading">
			        <th>Section Name</th>
			        <th>Sub-category Name</th>
			        <th>Level</th>
			        <th>Q-Type</th>
			        <th>#Qs</th>
			        <th>Duration</th>
			        <th>IsTimed?</th>
			        <th>Correct Grade</th>
			        <th>Incorrect Grade</th>
			        <th>Selection</th>
			        <th></th>
			      </tr>
			    </thead>
			    <tbody id="selectedQuestionsRow">
			    </tbody>
			    <tbody id="existingQuestionsRow">
			    </tbody>
			  </table>
		  </div>
		</div>
	</div>
	<div class="col-lg-1 col-md-1 col-sm-1"></div>		
</div>
<br>
</div>
<div class="row" ng-if="subCategories.length===0">
	<div class="row">
		<div class="alert alert-warning text-center" id="noSubCategoryNotification">
		  	<h4><strong>You haven't added any questions yet. Follow the below steps -</strong></h4>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-lg-1 col-md-1 col-sm-1">
		</div>
		<div class="col-lg-3 col-md-3 col-sm-3">
			<div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
				<p><h4><b>First Step</b></h4></p><br>
				<p><span class="glyphicon glyphicon-ok green-text"></span>&nbsp;&nbsp;Create a sub-category.</p>
				<hr>
				<h5 class="help-block">Navigate to <a ui-sref="app.questions">My Questions</a> section. Click on <b>Add Subcategory</b> button to create it.</h5>
			</div>
			<div class="row text-center visible-xs">
				<h2><br><br><span class="glyphicon glyphicon-arrow-down blue-text next-step-arrow-xs text-center"></span></h2><br>
			</div>
			<div class="col-lg-2 col-md-2 col-sm-2 hidden-xs">
				<h2><span class="glyphicon glyphicon-arrow-right blue-text next-step-arrow"></span></h2>
			</div>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-4">
			<div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
				<p><h4><b>Second Step</b></h4></p><br>
				<p><span class="glyphicon glyphicon-ok green-text"></span>&nbsp;&nbsp;Create a Question.</p>
				<hr>
				<h5 class="help-block">On the same page (<a ui-sref="app.questions">My Questions</a> section), click on <b>Create Question</b> button. Select whatever type of quetsion you want to create. While creating a question you first select a sub-category inside which you question will be saved. You can create as many questions as required.</h5>
			</div>
			<div class="row text-center visible-xs">
				<h2><br><br><span class="glyphicon glyphicon-arrow-down blue-text next-step-arrow text-center"></span></h2>
			</div>
			<div class="col-lg-2 col-md-2 col-sm-2 hidden-xs">
				<h2><span class="glyphicon glyphicon-arrow-right blue-text next-step-arrow-xs"></span></h2><br>
			</div>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-3">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<p><h4><b>Third Step</b></h4></p><br>
				<p><span class="glyphicon glyphicon-ok green-text"></span>&nbsp;&nbsp;Load sub-categories inside your Quiz Stack.</p>
				<hr>
				<h5 class="help-block">Finally reload this page and you will be asked to select sub-category among all sub-categories you have created. Selecting a sub-category will load all questions inside it into your quiz stack. You can filter out questions according to their type (MCQ/Objetcive) or level (easy/medium/hard). Then click on the <span class="glyphicon glyphicon-ok-circle green-text"></span> to save the questions. You can also delete the previously existing questions from your quiz stack. You can also preview your question store in a local test environment.</h5>
			</div>
		</div>
		<div class="col-lg-1 col-md-1 col-sm-1">
		</div>
	</div>
</div>

</div>
