<div class="panel panel-info">	
	<div class="row sidemenurow">
		<ul style="list-style-type: none;" class="sidemenu">
			<li>
				<button class="btn btn-primary" data-toggle="collapse" data-target="#demo"> Actions <span class="glyphicon glyphicon-menu-right"></span></button>
					<div id="demo" class="collapse" style="margin-top: 10px;">
						<button class="btn btn-info btn-sm" data-toggle="modal" data-target="#createCategoryModal" ng-if="categoryNotSelected" style="margin-bottom: 10px;">Add Category</button>
						<button class="btn btn-info btn-sm" style="margin-bottom: 10px;" data-toggle="modal" data-target="#createSubCategoryModal" ng-if="subCategoryNotSelected">Add Sub-Category</button>
			  		</div>
			  </li>
		</ul>
		<hr>
		<ul class="sidemenu" id="categoriesList" ng-if="categoryNotSelected">
			<li ng-repeat="cat in allCategories" ng-click='selectCategory(cat.id, cat.category_name)' id="cat{{cat.id}}" title="Go inside">
				<span class="glyphicon glyphicon-menu-right pointer" style="margin-right: 5px;"></span>
				<button class="btn">{{cat.category_name|capitalize}}</button>
			</li>
		</ul>
		<div class="row" ng-if="!categoryNotSelected">
			<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
				<h4><span class="glyphicon glyphicon-menu-left pointer" ng-click="deselectCategory()" title="Go back"></span></h4>
			</div>
			<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
				<h4><span><b>{{selectedCategoryName|capitalize}}</b></span></h4>
			</div>
			<br>
		</div>
		<ul class="sidemenu" id="subCategoriesList" ng-if="!unableToGetAllSubCategories">
			<li ng-repeat="sc in allSubCategories" ng-click='loadQuestions("subcategory", sc.id)' id="sc{{sc.id}}">
				<span class="glyphicon glyphicon-certificate" style="margin-right: 5px;"></span>
				<button class="btn">{{sc.sub_category_name|capitalize}}</button>
			</li>
		</ul>
		<ul class="sidemenu" id="subCategoriesList" ng-if="allSubCategories.length===0">
			<li>
				<a href="javascript:void(0);">No sub-category present.</a>
			</li>
		</ul>
		<ul class="sidemenu" id="subCategoriesList" ng-if="unableToGetAllSubCategories">
			<li>
				<a href="javascript:void(0);">Unable to get sub-catgories.</a>
			</li>
		</ul>
	</div>
</div>
<script>
function change_cat_id(cat_id){
	console.log($(this).data("id"));
	$('#sub_category_id').val(cat_id);
}
</script>