<div class="container-fluid">
<div ng-include src="'views/alertmsg.html'"></div>
<div class="row"><br><br></div>
<div class="row">
	<div class="col-lg-1 col-md-1 col-sm-1"></div>
	<div class="col-lg-10 col-md-10 col-sm-10">
		<div class="row">
			<div class="col-lg-5 col-md-5 col-sm-5">
				<div class="input-group">
			        	<select class="form-control" id="subcategoryname" name="subcategoryname" ng-model="selectedSubCategoryDropdown" ng-change="selectSubCategory(selectedSubCategoryDropdown)">
			        		<option value="" disabled>Select sub-category here...</option>
			        		<option ng-repeat="subcategory in subCategories" value="{{ subcategory.id }}" id="subcategory{{ subcategory.id }}">{{ subcategory.sub_category_name }}</option>
			        	</select>
		      	</div>
	      	</div>
	      	<div class="col-lg-1 col-md-1 col-sm-1">	      		
	      	</div>
	      	<div class="col-lg-3 col-md-3 col-sm-3">
	      		<div class="input-group">
	      			<span class="input-group-addon">Duration(in min)</span>
	      			<input type="text" class="form-control" name="duration" value="" id="totalduration">
	      		</div>
	      	</div>
	      	<div class="col-lg-1 col-md-1 col-sm-1">
	      		<button class="btn btn-info" type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">
	      			Preview
	      		</button>
	      	</div>
	      	<div class="col-lg-2 col-md-2 col-sm-2">	
	      		<button class="btn btn-primary" type="button" ng-click="go()">
	                Add
	            </button>      		
	      	<div class="col-lg-2 col-md-2 col-sm-2">	      		
	      	</div>
		</div><br><br>
		<div class="row text-center" ng-if="unableToGetAllSavedStacks">
			<h3>Unable to fetch existing stacks inside this quiz.</h3>
		</div>
		<div class="row">
		  <div class="table-responsive">          
			  <table class="table">
			    <thead>
			      <tr class="quizstack-heading">
			        <th>Section Name</th>
			        <th>Sub-category Name</th>
			        <th>Level</th>
			        <th>Q-Type</th>
			        <th>#Qs</th>
			        <th>Duration</th>
			        <th>IsTimed?</th>
			        <th>Correct Grade</th>
			        <th>Incorrect Grade</th>
			        <th>Selection</th>
			        <th></th>
			      </tr>
			    </thead>
			    <tbody id="selectedQuestionsRow">
			    </tbody>
			    <tbody id="existingQuestionsRow">
			    </tbody>
			  </table>
		  </div>
		</div>
	</div>
	<div class="col-lg-1 col-md-1 col-sm-1"></div>		
</div>
<br>
</div>
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog" style='width: 900px;'>
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Test: Example</h4>
      </div>
      <div class="modal-body col-md-12">
      		<div class="col-md-1">Que.1: &nbsp;&nbsp;</div>
      		<div class="col-md-8">
      			<p>Some test questions to ask ?</p>	
      			<div class='col-md-3'>
      			 <input type="checkbox" class="myClass" style='margin:3%;' value="yes" id="answer" name="answer" data-color="green" />
      			 YES
      			 <br>
      			 <input type="checkbox" class="myClass" style='margin:3%;' value="yes" id="answer" name="answer" data-color="green" />
      			 NO
      			 </div>
      			 <div class='col-md-3'>
      			 <input type="checkbox" class="myClass" style='margin:3%;' value="yes" id="answer" name="answer" data-color="green" />
      			 WHY?
      			 <br>
      			 <input type="checkbox" class="myClass" style='margin:3%;' value="yes" id="answer" name="answer" data-color="green" />
  				 IF
  				 </div>
      		</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
</div>
