<div class="container-fluid">
	<div class="row" style="margin-right: 0">
	<div class="row">
		<a ui-sref="app.create-question" class="btn btn-primary btn-md right" style="margin-right: 10px;">Create Question</a>
	</div>
	<div class="row">
		<h2 class="text-center hidden-xs">Your questions</h2>
		<h4 class="text-center visible-xs">Your questions</h4>
	</div>
	<div class="row">
		<div class="col-lg-1 col-md-1 col-sm-1"></div>
		<div class="col-lg-3 col-md-3 col-sm-3">
			<!-- <div class = "panel-group" id = "accordion">
			   <div class = "panel panel-default">
			      
			      <div class = "panel-heading">
			         <h4 class = "panel-title">
			            <a data-toggle = "collapse" data-parent = "#accordion" data-target = "#collapseOne">
			               Click me to expand. Click me again to collapse.Section 1
			            </a>
			         </h4>
			      </div>
			      
			      <div id = "collapseOne" class = "panel-collapse collapse in">
			         <div class = "panel-body">
			            Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred 
			               nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo.
			         </div>
			      </div>
			   </div>		   
			</div> -->
		</div>
 		<div class="col-lg-7 col-md-7 col-sm-7">
			<div class="row">
				<ul class="nav nav-pills nav-justified right">
				  <li ng-class="{active : isTabSelected(1)}"><a ng-click="selectTab(1)">Total <span class="badge">{{ questionsLevelInfo[3] }}</span></a></li>
				  <li ng-class="{active : isTabSelected(2)}"><a ng-click="selectTab(2)">Easy <span class="badge">{{ questionsLevelInfo[0] }}</span></a></li>
				  <li ng-class="{active : isTabSelected(3)}"><a ng-click="selectTab(3)">Medium <span class="badge">{{ questionsLevelInfo[1] }}</span></a></li>
				  <li ng-class="{active : isTabSelected(4)}"><a ng-click="selectTab(4)">Hard <span class="badge">{{ questionsLevelInfo[2] }}</span></a></li>
				</ul>
			</div><hr>
			<div class="row" ng-if="allQuestions" ng-repeat="(quiz, categories) in allQuestions">
				<div ng-repeat="(category, subCategories) in categories">
				  <ul class="list-group" ng-repeat="(subCategory, questionsList) in subCategories">
				  	<li class="list-group-item" ng-show="questionsList" ng-repeat="question in questionsList | filter:filterLevel:true">
				  		<p>
					  	<div class="row">
						  	<div class="col-lg-1 col-md-1 col-sm-1">
						  	</div>
						  	<div class="col-lg-11 col-md-11 col-sm-11">
							  	<div class="row">
						  			<p class="left">Q<small>{{$index + 1}}</small>.&nbsp;&nbsp;{{ question.content }}</p>
							  	</div><br>
							  	<div class="row">
							  	    <div class="btn-group" data-toggle="buttons">
							  	    	<div ng-repeat="option in question.options">
							                <label class="btn btn-default" ng-class="{'active':option.correct}">
								                {{$index + 1}}
							                </label>
							                {{ option.content }}
						                </div>
					                </div>
							  	</div>
							  	<div class="row text-right">
							  		<div class="col-lg-3 col-md-3 col-sm-3">
							  			<h4><span class="label label-default">{{ subCategory }}</span></h4>
							  		</div>
							  		<div class="col-lg-1 col-md-1 col-sm-1">
							  			<h4><span class="label label-default">{{ question.level | levelFull }}</span></h4>
							  		</div>
							  		<div class="col-lg-9 col-md-9 col-sm-9">
							  		</div>
							  	</div>
						  	</div>
					  	</div>
					  	</p>
				  </li>
				  </ul>
				</div>
			</div>
			<div class="row text-center" ng-if="!allQuestions">
				<h3>No quiz found!!!</h3>
			</div>
		</div> 
	</div>
	</div>
</div>