<div class="container-fluid">
<div ng-include src="'views/alertmsg.html'"></div>
	<div class="row" style="margin-right: 0">
	<div class="row">
		<a ui-sref="app.create-question" class="btn btn-primary btn-md right" style="margin-right: 10px;">Create Question</a>
	</div>
	<div class="row">
		<h2 class="text-center hidden-xs">Your questions</h2>
		<h4 class="text-center visible-xs">Your questions</h4>
	</div>
	<div class="row">
		<div class="col-lg-1 col-md-1 col-sm-1"></div>
		<div class="col-lg-3 col-md-3 col-sm-3">
			<div class="panel panel-info">
				<div class="row sidemenurow" style="margin: auto;" ng-if="quizNotSelected">
					<ul style="list-style-type: none;" class="sidemenu">
						<li ng-if="allQuizzes" ng-repeat="quiz in allQuizzes" ng-click="filterQuiz(quiz.id)"><span title="Go inside" class="glyphicon glyphicon-expand left" ng-if="quiz.categories" ng-click="quizSelected(quiz.id, quiz.title , quiz.categories)"></span>&nbsp;&nbsp;{{quiz.title|capitalize}}</li>
					</ul>
				</div>
				<div class="row" style="margin: auto;" ng-if="categoryNotSelected && !quizNotSelected">
				<p style="margin-top:10px;margin-left: 5px;color:blue;"><span  title="Go back" class="glyphicon glyphicon-arrow-left back" ng-click="quizDeselected()"></span> &nbsp;{{ selectedQuizTitle|capitalize }}</p>
					<ul style="list-style-type: none;" class="sidemenu">
						<li ng-if="categorieslist" ng-repeat="category in categorieslist" ng-click="filterCategory(selectedQuizId, category.id)"><span class="glyphicon glyphicon-expand left" ng-if="quiz.subcategories.length!=0" ng-click="categorySelected(category.id, category.category, category.subcategories)" title="Go inside" ></span>&nbsp;&nbsp;{{category.category|capitalize}}</li>
					</ul>
				</div>
				<div class="row" style="margin: auto;" ng-if="subcategoryNotSelected && !categoryNotSelected && !quizNotSelected">
				<p style="margin-top:10px;margin-left: 5px;color:blue;"><span title="Go back" class="glyphicon glyphicon-arrow-left back" ng-click="categoryDeselected()"></span> &nbsp;{{ selectedCategoryName|capitalize }}</p>
					<ul style="list-style-type: none;" class="sidemenu">
						<li ng-if="subcategorieslist" ng-repeat="subcategory in subcategorieslist" ng-click="filterSubCategory(selectedQuizId, selectedCategoryId, subcategory.id)"><span class="glyphicon glyphicon-minus left"></span>&nbsp;&nbsp;{{subcategory.subcategory|capitalize}}</li>
					</ul>
				</div>
			</div>
		</div>
 		<div class="col-lg-7 col-md-7 col-sm-7">
			<div class="row">
				<ul class="nav nav-pills nav-justified right">
				  <li ng-class="{active : isTabSelected(1)}"><a ng-click="selectTab(1)">Total <span class="badge">{{ questionsLevelInfo[3] }}</span></a></li>
				  <li ng-class="{active : isTabSelected(2)}"><a ng-click="selectTab(2)">Easy <span class="badge">{{ questionsLevelInfo[0] }}</span></a></li>
				  <li ng-class="{active : isTabSelected(3)}"><a ng-click="selectTab(3)">Medium <span class="badge">{{ questionsLevelInfo[1] }}</span></a></li>
				  <li ng-class="{active : isTabSelected(4)}"><a ng-click="selectTab(4)">Hard <span class="badge">{{ questionsLevelInfo[2] }}</span></a></li>
				</ul>
			</div>
			<div class="row">
			<br>
				<div class="col-lg-4 col-md-4 col-sm-4">
					<input type="search" class="form-control" ng-model="filterByQuiz" placeholder="Search by quiz">
				</div>
				<div class="col-lg-4 col-md-4 col-sm-4">
					<input type="search" class="form-control" ng-model="filterByCategory" placeholder="Search by category">
				</div>
				<div class="col-lg-4 col-md-4 col-sm-4">
					<input type="search" class="form-control" ng-model="filterBySubCategory" placeholder="Search by sub-category">
				</div>
			</div>
			<hr>
			<div class="row" ng-if="allQuestions" ng-repeat="quiz in allQuestions | filter:{title:filterByQuiz}">
				<div ng-if="quiz.categories" ng-repeat="category in quiz.categories | filter:{category:filterByCategory}">
				  <ul class="list-group" ng-if="category.subcategories" ng-repeat="subcategory in category.subcategories | filter:{subcategory:filterBySubCategory}">
				  	<li class="list-group-item" ng-if="subcategory.questions" ng-mouseenter="hoverOnQuestion(question.id)" ng-mouseleave="hoverOutQuestion()" ng-repeat="question in subcategory.questions | filter:filterLevel:true" id="Q{{question.id}}">
				  		<p>
					  	<div class="row">
						  	<div class="col-lg-1 col-md-1 col-sm-1">
						  	</div>
						  	<div class="col-lg-11 col-md-11 col-sm-11">
							  	<div class="row">
						  			<p class="left">Q<small>{{$index + 1}}</small>.&nbsp;&nbsp;{{ question.content }}</p>
							  	</div><br>
							  	<div class="row">
							  	    <div class="btn-group" data-toggle="buttons">
						  	    		<div class="row options" ng-repeat="option in question.options">
							                <label class="btn btn-default" ng-class="{'active':option.correct}">
								                {{$index + 1}}
							                </label>
						                	{{ option.content }}
						                </div>
					                </div>
							  	</div>
							  	<div class="row text-left">
							  		<div class="col-lg-6 col-md-6 col-sm-6">
							  			<h4><span class="label label-default">{{ subcategory.subcategory }}</span></h4>
							  		</div>
							  		<div class="col-lg-1 col-md-1 col-sm-1">
							  			<h4><span class="label label-default">{{ question.level | capitalize }}</span></h4>
							  		</div>
							  		<div class="col-lg-5 col-md-5 col-sm-5 text-right" ng-if="isHoveredOver">
							  			<ul class="list-inline">
										  <li><a ui-sref="app.update-question({questionid : '{{ question.id }}' })" title="Edit the question"><span class="glyphicon glyphicon-pencil"></span></a></li>
										  <li><a ui-sref="app.update-answers({questionid : '{{ question.id }}' })" title="Edit the answers"><span class="glyphicon glyphicon-list"></span></a></li>	
										  <li><a ng-click="deleteQuestion(question.id)"><span class="glyphicon glyphicon-remove"></span></a></li>
										</ul>
							  		</div>
							  	</div>
						  	</div>
					  	</div>
					  	</p>
				  </li>
				  </ul>
				</div>
			</div>
			<div class="row text-center" ng-if="!allQuestions">
				<h3>No questions available. First select a quiz/category/subcategory.</h3>
			</div>
		</div> 
	</div>
	</div>
</div>