<div class="container-fluid">
<div ng-include src="'views/alertmsg.html'"></div>
<div class="jumbotron">
    <div class="row">
    </div>
    <div class="row">	    
		<div class="row ">
			<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 verticalLine">
			<div class="row">
				<h2 class="text-center hidden-xs">Add Objective question(s).</h2>
				<h4 class="text-center visible-xs">Add Objective question(s).</h4>
			</div>
			<hr>
				<form role="form" name="objectiveQuestionCreateForm" ng-submit="postObjectiveQuestion()" enctype="multipart/form-data" novalidate>
				  <div class="form-group" ng-if="!unableToGetsubCategories" ng-class="{'has-error': errors.sub_category || objectiveQuestionCreateForm.sub_category.$touched && objectiveQuestionCreateForm.sub_category.$error.required }">
				  <label for="subcategory">Select a sub-category into which the question will be added</label>
					<select class="form-control" id="sub_category" name="sub_category" ng-model="createObjectiveQuestionForm.sub_category" required>
						<option value="" disabled>Select sub-category here</option>
					    <option ng-repeat="sc in subCategories" value="{{ sc.id }}">{{ sc.sub_category_name }}</option>
					</select>
			   		<span ng-if="errors.sub_category" class="help-block">{{ errors.sub_category[0] }}</span>
			   		<span ng-if="objectiveQuestionCreateForm.sub_category.$touched && objectiveQuestionCreateForm.sub_category.$error.required" class="help-block">Sub-category is required.</span>
				  </div>
  				  <div class="form-group" ng-if="unableToGetsubCategories">
  				  	<p>{{ errors }}</p>
  				  </div>
				  <br>
				  <div class="form-group">
				  	<input type="file" name="figure" id="figure" ng-model="createObjectiveQuestionForm.figure">
				  </div><br>
				  <div class="form-group" ng-class="{'has-error': errors.content || objectiveQuestionCreateForm.content.$touched && objectiveQuestionCreateForm.content.$error.required }">
				  	<div class="right"><button type="button" class="btn btn-md btn-danger" id="insertblankbutton" onclick="insertBlank('#contentid')">Insert Blank</button></div><br>
				  	<label for="content">Enter the question content</label>
			    	<div name="content" id="contentid" rows="4" class="form-control editable" ng-model="createObjectiveQuestionForm.content" contenteditable required></div>
			   		<span ng-if="errors.content" class="help-block">{{ errors.content[0] }}</span>
			   		<!-- <span ng-if="objectiveQuestionCreateForm.content.$touched && objectiveQuestionCreateForm.content.$viewValue==''" class="help-block">Question content is required.</span> -->
				  </div><br>
				  <div class="form-group">
				  	<label for="content">Enter the explanation of question</label>
			    	<textarea name="explanation" id="explanation" rows="4" class="form-control" ng-model="createObjectiveQuestionForm.explanation"></textarea>
				  </div><br>
				  <div class="form-group">
				  	<label for="level">Level of Question</label>
					<select class="form-control" id="level" name="level" ng-model="createObjectiveQuestionForm.level">
						<option value="easy">Easy</option>
						<option value="medium">Medium</option>
						<option value="hard">Hard</option>
					</select>
				  </div><br>
				  <br>
				  <button type="submit" class="btn btn-primary btn-block">Create Question</button>
				</form>
			</div>
<!-- 			<div class="col-lg-4 col-md-4 col-sm-4 " ng-controller='XlsHandlerController'>
				<div class="row">
					<h2 class="text-center hidden-xs">Add question in bulk.</h2>
					<h4 class="text-center visible-xs">Add questions in bulk.</h4>
				</div>
				<hr><br>
				Step1:<p> Select a sub-category here </p>
				<select class="form-control" id="sub_category1" name="sub_category" ng-model="sub_category_id" ng-class="{'has-error':noSubCategoryPresent}">
					<option value="" disabled>Select sub-category here</option>
				    <option ng-repeat="sc in subCategories" value="{{sc.sub_category_name}}">
				    {{ sc.sub_category_name }}</option>
				    <span ng-if="noSubCategoryPresent">Select a sub-category first.</span>
				</select>
				<br>
				<br>
				Step2: <p>Download our questions.xls file and fill this file</p>
				<button class="btn btn-lg glyphicon glyphicon-download" 
					ng-click="downloadDemoXls('mcq', sub_category_id)">Download</button>	
				<br>
				<br>
				Step3: <p>Upload your xls file and wait .. .</p>
				 <div>
			         <input type = "file" file-model = "myFile" class='btn'/>
			         <button class="btn btn-lg glyphicon glyphicon-upload" ng-click = "uploadFile()">Upload</button>
			      </div>
			</div> -->
		</div>
	</div>
</div>
</div>
