<div class="container-fluid">
<div ng-include src="'views/alertmsg.html'"></div>
<div class="jumbotron">
    <div class="row">
    </div>
    <div class="row">
	    <div class="row">
			<h2 class="text-center hidden-xs">Create category.</h2>
			<h4 class="text-center visible-xs">Create category.</h4>
		</div>
		<div class="row">
			<form role="form" name="categoryCreateForm" ng-submit="postCategory()" novalidate>
				<div class="col-lg-4 col-md-4 col-sm-4">
					<div class="list-group" ng-if="!unableToGetAllQuiz" ng-class="{'has-error': errors.quiz || categoryCreateForm.quiz.$touched && categoryCreateForm.quiz.$error.required }">
					  <!-- <a href="" class="list-group-item" ng-repeat="quiz in quizzes track by $index" ng-click="selectQuiz(quiz.id)">{{ quiz.title }}</a> -->
					  <label for="quiz">Your quizzes (select anyone)</label>
				      <select class="form-control" id="quiz" name="quiz" ng-model="createCategoryform.quiz" required>
				      	<option value="" disabled>Select a quiz first.</option>
				        <option ng-repeat="q in allQuiz track by $index" value="{{ q.id }}">{{ q.title }}</option>
				      </select>
					   <span ng-if="errors.quiz" class="help-block">Please select a quiz.</span>
				      <span ng-if="categoryCreateForm.quiz.$touched && categoryCreateForm.quiz.$error.required" class="help-block">Category name is required.</span>
					</div>
					<div class="list-group" ng-if="unableToGetAllQuiz">
						<p>{{ errors }}</p>
					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6">
					  <div class="form-group" ng-class="{'has-error': isFormInvalid || categoryCreateForm.category.$touched && categoryCreateForm.category.$error.required}">
					  	<label for="category">Name of category</label>
					    <input type="text" maxlength="250" class="form-control" id="category" name="category" ng-model="createCategoryform.category" required>
					    <span ng-if="errors.category" class="help-block">{{ errors.category[0] }}</span>
			    		<span ng-if="categoryCreateForm.category.$touched && categoryCreateForm.category.$error.required" class="help-block">Category name is required.</span>
					  </div>
					  <button type="submit" class="btn btn-primary btn-md" ng-disabled="categoryCreateForm.$invalid">Create Category</button>
				</div>
				<div class="col-lg-2 col-md-2 col-sm-2"></div>
			</form>
		</div>
	</div>
</div>
</div>
