<div class="container-fluid">
<div ng-include src="'views/alertmsg.html'"></div>
<div class="jumbotron">
    <div class="row">
    </div>
    <div class="row" ng-hide="isCategoryCreated">
	    <div class="row">
			<h2 class="text-center hidden-xs">Add a question here.</h2>
			<h4 class="text-center visible-xs">Add a question here.</h4>
		</div>
		<div class="row">
			<div class="col-lg-2 col-md-2 col-sm-2"></div>
			<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
			<hr>
				<form role="form" name="questionCreateForm" ng-submit="postQuestion()" enctype="multipart/form-data" novalidate>
				  <div class="form-group" ng-if="!unableToGetAllSubCategories" ng-class="{'has-error': errors.sub_category || questionCreateForm.sub_category.$touched && questionCreateForm.sub_category.$error.required }">
				  <label for="subcategory">Select a sub-category into which the question will be added</label>
					<select class="form-control" id="sub_category" name="sub_category" ng-model="createQuestionForm.sub_category" required>
						<option value="" disabled>Select sub-category here</option>
					    <option ng-repeat="sc in allSubCategories" value="{{ sc.id }}">{{ sc.sub_category_name }}</option>
					</select>
			   		<span ng-if="errors.sub_category" class="help-block">{{ errors.sub_category[0] }}</span>
			   		<span ng-if="questionCreateForm.sub_category.$touched && questionCreateForm.sub_category.$error.required" class="help-block">Sub-category is required.</span>
				  </div>
  				  <div class="form-group" ng-if="unableToGetAllSubCategories">
  				  	<p>{{ errors }}</p>
  				  </div>
				  <br>
				  <div class="form-group">
				  	<input type="file" name="figure" id="figure" ng-model="createQuestionForm.figure">
				  </div><br>
				  <div class="form-group" ng-class="{'has-error': errors.content || questionCreateForm.content.$touched && questionCreateForm.content.$error.required }">
				  	<label for="content">Enter the question content</label>
			    	<textarea name="content" id="content" rows="4" class="form-control" ng-model="createQuestionForm.content" required></textarea>
			   		<span ng-if="errors.content" class="help-block">{{ errors.content[0] }}</span>
			   		<span ng-if="questionCreateForm.content.$touched && questionCreateForm.content.$error.required" class="help-block">Question content is required.</span>
				  </div><br>
				  <div class="form-group">
				  	<label for="content">Enter the explanation of question</label>
			    	<textarea name="explanation" id="explanation" rows="4" class="form-control" ng-model="createQuestionForm.explanation"></textarea>
				  </div><br>
				  <div class="form-group">
				  	<label for="level">Level of Question</label>
					<select class="form-control" id="level" name="level" ng-model="createQuestionForm.level">
						<option value="E">Easy</option>
						<option value="M">Medium</option>
						<option value="H">Hard</option>
					</select>
				  </div><br>
				  <div class="form-group">
				  	<label for="answer_order">Display order of MCQs</label>
					<select class="form-control" id="answer_order" name="answer_order" ng-model="createQuestionForm.answer_order">
						<option value="random">Random</option>
						<option value="content">Content</option>
					</select>
				  </div><br>

				  	<div class="form-group"  ng-class="{'has-error': errors.optionerrors }">
					  	<div class="row">
				   		<span ng-if="errors.optionerrors" class="help-block">{{ errors.optionerrors }}</span>
				   		</div>
				  		<div ng-repeat="option in optionss">
				  			<div class="row">
				  				<div class="col-md-2">
				  					<input type="radio" name="correctoption" size="100" ng-model="createQuestionForm.correctoption" value="{{option.optionid}}">
				  				</div>
				  				<div class="col-md-6">
					    			<textarea cols="80" rows="3" name="optioncontent-{{option.optionid}}" id="optioncontent-{{option.optionid}}" class="form-control" ng-model="createQuestionForm.optioncontent[option.optionid]" placeholder="Content for option - {{$index}}" required>{{ option.content }}</textarea><hr>
				  				</div>
				  				<div class="col-md-3">
				  					<h3><a href="javascript:void"><span class="glyphicon glyphicon-remove-sign" ng-if='option.optionid > 2' ng-click="removeOption(option.optionid)"></span></a></h3>
				  				</div>
				  			</div>
					  </div>
				  	</div>
				  	<div class="form-group">
				  		<button type="button" class="btn btn-primary btn-md" ng-click="addOptions()"><span class="glyphicon glyphicon-plus"></span>&nbsp;Add more options</button>

				  	</div>
				  <button type="submit" class="btn btn-primary btn-block" ng-disabled="questionCreateForm.$invalid">Create Question</button>
				</form>
			</div>
			<div class="col-lg-2 col-md-2 col-sm-2"></div>
		</div>
	</div>
</div>
</div>
