<div class="container-fluid">
<div ng-include src="'views/alert_msg.html'"></div>
<div class="jumbotron">
    <div class="row">
    </div>
    <div class="row">
		<h2 class="text-center hidden-xs">Create Your Quiz</h2>
		<h3 class="text-center visible-xs">Create Your Quiz</h3>
	</div>
	<div class="row">
		<div class="col-lg-2 col-md-2 col-sm-2"></div>
		<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
			<form role="form" name="quizCreateForm" ng-submit="postQuiz()" novalidate>

			  <div class="form-group" ng-class="{'has-error': errors.title || quizCreateForm.title.$touched && quizCreateForm.title.$error.required  }">
			    <label for="title">Title <span class="red-text">*</span></label>
			    <input type="text" maxlength="60" class="form-control" id="title" name="title" ng-model="createQuizForm.title" required>
			    <br/>
			    <span ng-if="errors.title" class="help-block">{{ errors.title[0] }}</span>
			    <span ng-if="quizCreateForm.title.$touched && quizCreateForm.title.$error.required" class="help-block">Quiz title is required.</span>
			  </div>		
			  	  
			  <div class="form-group" ng-class="{'has-error': quizCreateForm.description.$error.minlength }">
			    <label for="description">Description</label>
			    <textarea name="description" ng-minlength="20" id="description" rows="4" class="form-control" ng-model="createQuizForm.description">    
			    </textarea>
			    <span ng-if="quizCreateForm.description.$error.minlength">Must be atleast 20 characters long.</span>
			  </div>

			  <div class="form-group" ng-class="{'has-error': errors.url || quizCreateForm.url.$touched && quizCreateForm.url.$error.required }">
			  	<label for="url">URL <span class="red-text">*</span></label>
			    <input type="text" maxlength="60" class="form-control" id="url" name="url" ng-model="createQuizForm.url" required>
			    <span ng-if="errors.url" class="help-block">{{ errors.url[0] }}</span>
			    <span ng-if="quizCreateForm.url.$touched && quizCreateForm.url.$error.required" class="help-block">Quiz URL is required.</span>
			  </div>

			 <!--  <div class="form-group">
			    <label for="category">Category </label>
			    <input type="text" maxlength="60" class="form-control" id="category" name="category" ng-model="createQuizForm.category">
			  </div>
 -->
			  <div class="row">
				<div class="col-lg-6 col-md-6 col-sm-6">
				  <div class="checkbox">
				    <label><input type="checkbox" name="random_order" ng-model="createQuizForm.random_order">&nbsp;Check if you want to display the questions in a random order?</label>
				  </div>
				</div>

				<div class="col-lg-6 col-md-6 col-sm-6">
				  <div class="checkbox">
				    <label><input type="checkbox" name="answers_at_end" ng-model="createQuizForm.answers_at_end">&nbsp;Check if you want to display answers at the end of quiz?</label>
				  </div>
				</div>

			  </div>

			   <div class="row">
				<div class="col-lg-6 col-md-6 col-sm-6">
				  <div class="checkbox">
				    <label><input type="checkbox" name="single_attempt" ng-model="createQuizForm.single_attempt">&nbsp;Single Attempt?</label>
				  </div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6">
				  <div class="checkbox">
				    <label><input type="checkbox" name="exam_paper" ng-model="createQuizForm.exam_paper">&nbsp;Check if you want to store result of each attempt by a user. &nbsp;Necessary for marking.
				    </label>
				  </div>
				</div>
			  </div>

			  <div class="row">
				<div class="col-lg-6 col-md-6 col-sm-6">
				  <div class="form-group">
				    <label for="max_questions">Number of questions to be answered on each attempt</label>
				    <input type="number" name="max_questions" min='0' id="max_questions" class="form-control" ng-model="createQuizForm.max_questions" >
				  </div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6">
				  <div class="form-group" ng-class="{'has-error': quizCreateForm.pass_mark.$touched && quizCreateForm.pass_mark.$error.required }">
				    <label for="pass_mark">Passing marks <span class="red-text">*</span></label><br>
				    <input type="number" name="pass_mark" max='90' min='10' id="pass_mark" class="form-control" ng-model="createQuizForm.pass_mark" required>
				    <span ng-if="errors.pass_mark" class="help-block">{{ errors.pass_mark[0] }}</span>
				    <span ng-if="quizCreateForm.pass_mark.$touched && quizCreateForm.pass_mark.$error.required" class="help-block">Passing marks is required.</span>
				  </div>
				</div>
			  </div>
			  <div class="row">
				<div class="col-lg-6 col-md-6 col-sm-6">
				  <div class="form-group">
				  	<label for="success_text">Message if user passes</label>
				    <textarea name="success_text" id="success_text" rows="2" class="form-control" ng-model="createQuizForm.success_text"></textarea>
				  </div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6">
				  <div class="form-group">
				  	<label for="fail_text">Message if user fails</label>
				    <textarea name="fail_text" id="fail_text" rows="2" class="form-control" ng-model="createQuizForm.fail_text"></textarea>
				  </div>
				</div>
			  </div>
			  <button type="submit" class="btn btn-primary btn-block" ng-disabled="quizCreateForm.$invalid">Create Quiz</button>
			</form>
		</div>
		<div class="col-lg-2 col-md-2 col-sm-2"></div>
	</div>
</div>
</div>
