<div class="container-fluid">
<div ng-include src="'views/alert_msg.html'"></div>
<div class="jumbotron">
    <div class="row">
    </div>
    <div class="row">
	    <div class="row">
			<h2 class="text-center hidden-xs">Create sub-category.</h2>
			<h4 class="text-center visible-xs">Create sub-category.</h4><br>
		</div>
		<div class="row">
			<form role="form" name="subcategoryCreateForm" ng-submit="postSubCategory()" novalidate>
				<div class="col-lg-4 col-md-4 col-sm-4">
					<div class="list-group" ng-if="!unableToGetAllCategories" ng-class="{'has-error': errors.category }">
					  <!-- <a href="" class="list-group-item" ng-repeat="quiz in quizzes track by $index" ng-click="selectQuiz(quiz.id)">{{ quiz.title }}</a> -->
					  <label for="category">Your categories (select anyone) {{categoryid}}</label>
				      <select class="form-control" id="category" name="category" ng-model="createSubCategoryform.category">
				      	<option value="" disabled>Select a category (optional).</option>
				        <option ng-repeat="c in allCategories track by $index" value="{{ c.id }}">{{ c.category_name }}</option>
				      </select>
					   <span ng-if="errors.category" class="help-block">Please select a category.</span>
					</div>
					<div class="list-group" ng-if="unableToGetAllCategories">
						<p>{{ errors }}</p>
					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6">
					  <div class="form-group" ng-class="{'has-error': errors.sub_category_name || subcategoryCreateForm.sub_category_name.$touched && subcategoryCreateForm.sub_category_name.$error.required}">
					  	<label for="sub_category_name">Name of sub-category</label>
					    <input type="text" maxlength="250" class="form-control" id="sub_category_name" name="sub_category_name" ng-model="createSubCategoryform.sub_category_name" required>
					    <span ng-if="errors.sub_category_name" class="help-block">Sub-category name is required.</span>
			    		<span ng-if="subcategoryCreateForm.sub_category_name.$touched && subcategoryCreateForm.sub_category_name.$error.required" class="help-block">Sub-category is required.</span>
					  </div>
					  <button type="submit" class="btn btn-primary btn-md" ng-disabled="subcategoryCreateForm.$invalid">Create Sub-Category</button>
				</div>
				<div class="col-lg-2 col-md-2 col-sm-2"></div>
			</form>
		</div>
	</div>
</div>
</div>
