<div class="container-fluid">
<div ng-include src="'views/alertmsg.html'"></div>

<div class="jumbotron"  ng-controller = 'CreateCategoryController'>
    
    <div class="row">
    	<div class="col-md-12">
	    	<div class="col-md-6">
	    		<h4 class="text-center hidden-xs"> Total Quiz: {{getAllQuiz.length}} </h4>
	    	</div>
	    	<div class="col-md-6">
	    		<a ui-sref="app.create-quiz" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span>AddQuiz</a>
			</div>	

		</div>
	</div>
	<div class="row">
		<div class="col-lg-2 col-md-2 col-sm-2"></div>
		<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
			<div class="col-md-4" ng-repeat='quiz in getAllQuiz'>
				
				<div class="jumbotron" style='background-color:	#a6a6a6;'>
					<a>{{quiz.title | capitalize}}</a><br>
					<p>Questions: {{quiz.max_questions}}</p>
					<p>Total Marks: {{quiz.pass_mark}}</p>
					<p>Passing Marks: {{quiz.pass_mark}}</p>	
				</div>
				
			</div>
		</div>
		<div class="col-lg-2 col-md-2 col-sm-2"></div>
	</div>
</div>
</div>



