<div id="progressBarModal" class="modal fade" role="dialog">
<div class="modal-dialog">
<div class="modal-content">
  <div class="modal-body" id="progressBarModalBody">
    <br>
    <div class="progress" ng-if="!error">
    	<div class="progress-bar progress-bar-striped active" id="progress-bar" role="progressbar"
		aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:0">
		<span id="percentage">0</span>% completed.
		</div>
	</div>
	<div ng-if="error" class="row">
		<span class="red-text">Error in creating question. Try again!</span>
	</div>
	<br>
  </div>
  <div class="modal-footer">
    <button ng-if="!error" type="button" class="btn btn-default" onclick="window.location.reload()">Close</button>
    <button ng-if="error" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
  </div>
</div>
</div>
</div>
