<div class="container-fluid">
	<div class="row">
	<div class="row">
		<h2 class="text-center hidden-xs">All questions</h2>
		<h4 class="text-center visible-xs">All questions</h4>
	</div>
	<div class="row">
		<div class="col-lg-1 col-md-1 col-sm-1"></div>
		<div class="col-lg-3 col-md-3 col-sm-3">
			<div class = "panel-group" id = "accordion">
			   <div class = "panel panel-default">
			      
			      <div class = "panel-heading">
			         <h4 class = "panel-title">
			            <a data-toggle = "collapse" data-parent = "#accordion" href = "#collapseOne">
			               Click me to expand. Click me again to collapse.Section 1
			            </a>
			         </h4>
			      </div>
			      
			      <div id = "collapseOne" class = "panel-collapse collapse in">
			         <div class = "panel-body">
			            Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred 
			               nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo.
			         </div>
			      </div>
			      
			   </div>
			   
			   <div class = "panel panel-default">
			      <div class = "panel-heading">
			         <h4 class = "panel-title">
			            <a data-toggle = "collapse" data-parent = "#accordion" href = "#collapseTwo">
			               Click me to expand. Click me again to collapse.Section 2
			            </a>
			         </h4>
			      </div>

			      <div id = "collapseTwo" class = "panel-collapse collapse">
			         <div class = "panel-body">
			            Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt 
			               sapiente ea proident. Ad vegan excepteur butcher vice lomo.
			         </div>
			      </div>
			      
			   </div>
			   
			   <div class = "panel panel-default">
			      <div class = "panel-heading">
			         <h4 class = "panel-title">
			            <a data-toggle = "collapse" data-parent = "#accordion" href = "#collapseThree">
			               Click me to expand. Click me again to collapse.Section 3
			            </a>
			         </h4>
			      </div>
			     
			      <div id = "collapseThree" class = "panel-collapse collapse">
			         <div class = "panel-body">
			            Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt 
			               sapiente ea proident. Ad vegan excepteur butcher vice lomo.
			         </div>
			      </div>
			     
			   </div>
			</div>
		</div>
		<div class="col-lg-7 col-md-7 col-sm-7">
			<ul class="list-group">
			  <li class="list-group-item">First item</li>
			  <li class="list-group-item">Second item</li>
			  <li class="list-group-item">Third item</li>
			</ul>
		</div>
		<div class="col-lg-1 col-md-1 col-sm-1"></div>
	</div>
	</div>
</div>