<div class="container-fluid">
<div ng-include src="'views/alertmsg.html'"></div>
<div class="jumbotron">
    <div class="row">
    </div>
    <div class="row" ng-hide="isCategoryCreated">
	    <div class="row">
			<h2 class="text-center hidden-xs">Update answers.</h2>
			<h4 class="text-center visible-xs">Update answers.</h4>
		</div>
		<div class="row" ng-if="!unableToGetAnswers">
			<div class="col-lg-2 col-md-2 col-sm-2"></div>
			<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
				<hr>
				<h4 class="left">Category : <span class="label label-default">{{ answers.category }}</span></h4>
				<h4 class="right">SubCategory : <span class="label label-default">{{ answers.sub_category }}</span></h4><br><br><br><br>
				<h3>Q.&nbsp;{{ answers.content }}</h3><hr>
			<form role="form" name="answersUpdateForm" ng-submit="putAnswers()" novalidate>
				<div class="form-group">
					<div class="row" ng-repeat="option in answers.options">
		  				<div class="col-md-2">
		  					<div class="radio">
							  <label><input value="{{ option.id }}" type="radio" ng-model="updateAnswersForm.correctOption" name="correctoption"></label>
							</div>
		  				</div>
		  				<div class="col-md-6">
		  				<textarea cols="80" rows="3" name="optioncontent" id="optioncontent-{{option.id}}" class="form-control" placeholder="Content for option - {{$index}}" required>{{ option.content }}</textarea>
			    			<!-- <textarea cols="80" rows="3" name="optioncontent-{{option.optionid}}" id="optioncontent-{{option.optionid}}" class="form-control" ng-model="updateAnswersForm.optioncontent[option.optionid]" placeholder="Content for option - {{$index}}" required>{{ option.content }}</textarea><hr> -->
		  				</div>
				  	</div>
				</div>
			  	<div class="form-group">
				  	<button type="submit" class="btn btn-primary btn-block" ng-disabled="answersUpdateForm.$invalid">Update Answers</button>
				</div>
			</form>
			<div class="col-lg-2 col-md-2 col-sm-2"></div>
		</div>
		</div>
		<div class="row" ng-if="unableToGetAnswers">
			<h3>Unable to retrieve the answers.</h3>
		</div>
	</div>
</div>
</div>
