<div class="container-fluid">
<div ng-include src="'views/alertmsg.html'"></div>
<div class="row" ng-if="unableToGetQuiz">
	<p>Unable to retrieve your quiz.</p>
</div><br><br>
<div class="row" ng-if="!unableToGetQuiz">
	<div class="col-lg-2 col-md-2 col-sm-2"></div>
	<div class="col-lg-8 col-md-8 col-sm-8">
		<div class="row" ng-if="!editorEnabled" style="margin: auto;">
			<div class="row text-center">
				<h2><b>{{ quiz.title|capitalize }}</b>&nbsp;&nbsp;<span class="glyphicon glyphicon-pencil right" title="Click to edit quiz details" ng-click="enableEditor()" style="font-size: 18px;color:blue;"></span></h2>
			</div><br>
			<div class="row">
				<label for="description">Desciption</label>
				<p>{{ quiz.description|capitalize }}</p>
			</div>
			<br>
			<div class="row">
				<label for="description">Named URL</label>
				<p>{{ quiz.url|capitalize }}</p>
			</div><br>
			<div class="row">
				<label for="description">Display the questions in a random order or as they are set ?</label>
				<p ng-if="quiz.random_order==true">Yes</p>
				<p ng-if="quiz.random_order==false">No</p>
			</div><br>
			<div class="row">
				<label for="description">Maximum questions this quiz can have ?</label>
				<p>{{ quiz.max_questions }}</p>
			</div><br>
			<div class="row">
				<label for="description">Display the answers at the end of test ? Correct answer is NOT shown after question.</label>
				<p ng-if="quiz.answers_at_end==true">Yes</p>
				<p ng-if="quiz.answers_at_end==false">No</p>
			</div><br>
			<div class="row">
				<label for="description">Store result of each attempt by the user ? Necessary for marking.</label>
				<p ng-if="quiz.exam_paper==true">Yes</p>
				<p ng-if="quiz.exam_paper==false">No</p>
			</div><br>
			<div class="row">
				<label for="description">Is this quiz has only one attempt ?</label>
				<p ng-if="quiz.single_attempt==true">Yes</p>
				<p ng-if="quiz.single_attempt==false">No</p>
			</div><br>
			<div class="row">
				<label for="description">Passing marks for this quiz ?</label>
				<p>{{ quiz.pass_mark }}</p>
			</div><br>
			<div class="row">
				<label for="description">Message displayed to user after passing this quiz</label>
				<p>{{ quiz.success_text|capitalize }}</p>
			</div><br>
			<div class="row">
				<label for="description">Message displayed to user after failing this quiz</label>
				<p>{{ quiz.fail_text|capitalize }}</p>
			</div><br>
		</div>
		<div class="row" ng-if="editorEnabled">
			<span class="glyphicon glyphicon-remove right" onclick="window.location.reload()" title="Cancel editing quiz details." style="font-size: 18px;color:red;"></span>
			<form role="form" name="quizUpdateForm" ng-submit="putQuiz()" novalidate>			  
			  <div class="form-group" ng-class="{'has-error': errors.title || quizUpdateForm.title.$touched && quizUpdateForm.title.$error.required  }">
			    <label for="title">Title <span class="red-text">*</span></label>
			    <input type="text" maxlength="60" class="form-control" id="title" name="title" ng-model="quiz.title" required>
			    <br/>
			    <span ng-if="errors.title" class="help-block">{{ errors.title[0] }}</span>
			    <span ng-if="quizUpdateForm.title.$touched && quizUpdateForm.title.$error.required" class="help-block">Quiz title is required.</span>
			  </div>
			  
			  <div class="form-group" ng-class="{'has-error': quizUpdateForm.description.$error.minlength }">
			    <label for="description">Description</label>
			    <textarea name="description" ng-minlength="20" id="description" rows="4" class="form-control" ng-model="quiz.description">    
			    </textarea>
			    <span ng-if="quizUpdateForm.description.$error.minlength">Must be atleast 20 characters long.</span>
			  </div>

			  <div class="form-group" ng-class="{'has-error': errors.url || quizUpdateForm.url.$touched && quizUpdateForm.url.$error.required }">
			  	<label for="url">URL <span class="red-text">*</span></label>
			    <input type="text" maxlength="60" class="form-control" id="url" name="url" ng-model="quiz.url" required>
			    <span ng-if="errors.url" class="help-block">{{ errors.url[0] }}</span>
			    <span ng-if="quizUpdateForm.url.$touched && quizUpdateForm.url.$error.required" class="help-block">Quiz URL is required.</span>
			  </div>
<!-- 
			  <div class="form-group">
			    <label for="category">Category </label>
			    <input type="text" maxlength="60" class="form-control" id="category" name="category" ng-model="quiz.category">
			  </div> -->

			  <div class="row">
				<div class="col-lg-6 col-md-6 col-sm-6">
				  <div class="checkbox">
				    <label><input type="checkbox" name="random_order" ng-model="quiz.random_order">&nbsp;Check if you want to display the questions in a random order?</label>
				  </div>
				</div>

				<div class="col-lg-6 col-md-6 col-sm-6">
				  <div class="checkbox">
				    <label><input type="checkbox" name="answers_at_end" ng-model="quiz.answers_at_end">&nbsp;Check if you want to display answers at the end of quiz?</label>
				  </div>
				</div>

			  </div>

			   <div class="row">
				<div class="col-lg-6 col-md-6 col-sm-6">
				  <div class="checkbox">
				    <label><input type="checkbox" name="single_attempt" ng-model="quiz.single_attempt">&nbsp;Single Attempt?</label>
				  </div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6">
				  <div class="checkbox">
				    <label><input type="checkbox" name="exam_paper" ng-model="quiz.exam_paper">&nbsp;Check if you want to store result of each attempt by a user. &nbsp;Necessary for marking.
				    </label>
				  </div>
				</div>
			  </div>

			  <div class="row">
				<div class="col-lg-6 col-md-6 col-sm-6">
				  <div class="form-group">
				    <label for="max_questions">Number of questions to be answered on each attempt</label>
				    <input type="number" name="max_questions" min='0' id="max_questions" class="form-control" ng-model="quiz.max_questions" >
				  </div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6">
				  <div class="form-group" ng-class="{'has-error': quizUpdateForm.pass_mark.$touched && quizUpdateForm.pass_mark.$error.required }">
				    <label for="pass_mark">Passing marks <span class="red-text">*</span></label><br>
				    <input type="number" name="pass_mark" max='90' min='10' id="pass_mark" class="form-control" ng-model="quiz.pass_mark" required>
				    <span ng-if="errors.pass_mark" class="help-block">{{ errors.pass_mark[0] }}</span>
				    <span ng-if="quizUpdateForm.pass_mark.$touched && quizUpdateForm.pass_mark.$error.required" class="help-block">Passing marks is required.</span>
				  </div>
				</div>
			  </div>
			  <div class="row">
				<div class="col-lg-6 col-md-6 col-sm-6">
				  <div class="form-group">
				  	<label for="success_text">Message if user passes</label>
				    <textarea name="success_text" id="success_text" rows="2" class="form-control" ng-model="quiz.success_text"></textarea>
				  </div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6">
				  <div class="form-group">
				  	<label for="fail_text">Message if user fails</label>
				    <textarea name="fail_text" id="fail_text" rows="2" class="form-control" ng-model="quiz.fail_text"></textarea>
				  </div>
				</div>
			  </div>
			  <button type="submit" class="btn btn-primary btn-block" ng-disabled="quizUpdateForm.$invalid">Update Quiz</button>
			</form>
		</div>
	</div>
	<div class="col-lg-2 col-md-2 col-sm-2"></div>
</div>
</div>



