<div class="container-fluid">
<div class="jumbotron">
    <div class="row">
    </div>
    <div class="row">	    
		<div class="row ">
			<div class="col-lg-2 col-md-2 col-sm-2"></div>
			<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
			<div class="row">
				<h2 class="text-center hidden-xs">Add Comprehension</h2>
				<h4 class="text-center visible-xs">Add Comprehension</h4>
			</div>
			<hr>
				<form role="form" name="comprehensionCreateForm" ng-submit="postComprehension()" enctype="multipart/form-data" novalidate>
				  <div class="form-group" ng-if="!unableToGetAllSubCategories" ng-class="{'has-error': errors.sub_category || comprehensionCreateForm.sub_category.$touched && comprehensionCreateForm.sub_category.$error.required }">
				  <label for="subcategory">Select a sub-category into which the question will be added<span class="red-text">*</span></label>
					<select class="form-control" id="sub_category" name="sub_category" ng-model="createComprehensionForm.sub_category" required>
						<option value="" disabled>Select sub-category here</option>
					    <option ng-repeat="sc in subCategories" value="{{ sc.id }}">{{ sc.sub_category_name }}</option>
					</select>
			   		<span ng-if="errors.sub_category" class="help-block">{{ errors.sub_category[0] }}</span>
			   		<span ng-if="comprehensionCreateForm.sub_category.$touched && comprehensionCreateForm.sub_category.$error.required" class="help-block">Sub-category is required.</span>
				  </div>
  				  <div class="form-group" ng-if="unableToGetAllSubCategories">
  				  	<p>{{ errors }}</p>
  				  </div>
				  <br>
				  <div class="form-group" ng-class="{'has-error': errors.heading || comprehensionCreateForm.heading.$touched && comprehensionCreateForm.heading.$error.required }">
				  	<label for="heading">Enter the comprehension heading<span class="red-text">*</span></label>
			    	<textarea name="heading" id="heading" rows="2" class="form-control" ng-model="createComprehensionForm.heading" required></textarea>
			   		<span ng-if="errors.heading" class="help-block">{{ errors.heading[0] }}</span>
			   		<span ng-if="comprehensionCreateForm.heading.$touched && comprehensionCreateForm.heading.$error.required" class="help-block">Comprehension heading is required.</span>
				  </div><br>
				  <div class="form-group">
				  	<input type="file" name="figure" id="figure" ngf-select ng-model="figure" ngf-pattern="'image/*'"
					    ngf-accept="'image/*'" ngf-max-size="5MB" ng-change="changeImage()" style="display: inline;">
					<span class="glyphicon glyphicon-remove red-text" ng-if="isImageChanged" ng-click="removeImage()" style="cursor: pointer;"></span>
				  </div><br>
				  <div class="form-group" ng-class="{'has-error': errors.content || comprehensionCreateForm.content.$touched && comprehensionCreateForm.content.$error.required }">
				  	<label for="content">Enter the comprehension content<span class="red-text">*</span></label>
			    	<textarea name="content" id="content" rows="10" class="form-control" ng-model="createComprehensionForm.content" required></textarea>
			   		<span ng-if="errors.content" class="help-block">{{ errors.content[0] }}</span>
			   		<span ng-if="comprehensionCreateForm.content.$touched && comprehensionCreateForm.content.$error.required" class="help-block">Comprehension content is required.</span>
				  </div><br>
				  <div class="form-group">
				  	<label for="content">Enter the explanation of question</label>
			    	<textarea name="explanation" id="explanation" rows="4" class="form-control" ng-model="createComprehensionForm.explanation"></textarea>
				  </div><br>
				  <div class="form-group">
				  	<label for="level">Level of Question</label>
					<select class="form-control" id="level" name="level" ng-model="createComprehensionForm.level">
						<option value="easy">Easy</option>
						<option value="medium">Medium</option>
						<option value="hard">Hard</option>
					</select>
				  </div><br>
				  <div class="form-group" ng-class="{'has-error': errors.ideal_time}">
				  	<label for="ideal_time">Ideal Time <sub>(upto 300 seconds)</sub></label>
				  	<input type="number" name="ideal_time" class="form-control" id="ideal_time" min="0" max="300" ng-model="createComprehensionForm.ideal_time">
				  	<span ng-if="errors.ideal_time" class="help-block">{{ errors.ideal_time[0] }}</span>
				  </div><br>
				  <br>
				  <button type="submit" class="btn btn-primary btn-block" ng-disabled="comprehensionCreateForm.$invalid">Create Comprehension</button>
				</form>
			</div>
			<div class="col-lg-2 col-md-2 col-sm-2"></div>
		</div>
	</div>
</div>
</div>
